@import url('../../node_modules/@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css');

.form-control .autoComplete_wrapper > ul > li, .form-control .autoComplete_wrapper > ul > p {
  color: #212121;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
}
.autoComplete_wrapper > input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  width: 320px;
  height: 25px;
}
